<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Care Clinic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://localhost/appointment_booking_system/public/css/nav.css"
    />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <img
          src="http://localhost/appointment_booking_system/public/images/logo.png"
        />
        <span>Happy Care Clinic</span>
      </a>
      <ul class="nav-links">
        <li>
          <a
            href="http://localhost/appointment_booking_system/app/views/users/service.php"
            >Services</a
          >
        </li>
        <li>
          <a
            href="http://localhost/appointment_booking_system/app/views/users/aboutus.php"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="http://localhost/appointment_booking_system/app/views/users/doctors.php"
            >Doctors</a
          >
        </li>
        <li>
          <a
            href="http://localhost/appointment_booking_system/app/views/users/appointment.php"
            >Appointment</a
          >
        </li>
      </ul>
      <div class="nav-actions">
        <a
          href="http://localhost/appointment_booking_system/app/views/auth/login.php"
          >Log in</a
        >
        <div class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="nav-icon">
          <i class="fa-solid fa-bell"></i>
          <span class="badge"></span>
        </div>
        <div class="nav-icon"><i class="fa-solid fa-user"></i></div>
      </div>
    </nav>
  </body>
</html>
